    .container {
      display: flex;
      flex-direction: column;
      background-color: dodgerblue;
      justify-content: center;
      align-items: center;
    }
    .container div {
      background-color: #f1f1f1;
      margin: 10px;
      padding: 20px;
      font-size: 30px;
      width: 50%;
      text-align: center;
    }