 h1, h2 {
    container: flex;
    display: flex;
    justify-content: flex-start;
    justify-content: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  width: 80%;
  margin:auto;
}