.img-filtro {
    filter: grayscale(100%);
transition: filter 0.3 ease;
}
.img-filtro:hover {
    filter: grayscale(0%);
}
img {
    width: 300px;
    height: 200px;
}
header {
    background-color: lightsalmon;
}
section {
    background-color: beige;
}