body {
    font-family:Helvetica Neue, Helvetica, Arial, sans-serif;  
    background: linear-gradient(to top, orange, white)
}

h1 {
    font-size: 150px;
}

.container {
    border-radius: 5%;
    background-color: white;
    width: fit-content;
}

.image {
    width: 30px;
}