@media(min-width: 980px){
	.seccion-submenu-navegacion-listado {
        display: block;
		text-align: left;
		margin: 0 auto;
		max-width: 960px;
		position: relative;
	}
	.seccion-submenu-navegacion-listado .negocios_submenu{position: absolute;right: 0;}
	.seccion-submenu-navegacion-listado .cincodias_submenu{position: absolute;right: 82px;}
	.seccion-submenu-navegacion-listado .retina_submenu{position: absolute;right: 176px;}
}

/* transicion */
.seccion-submenu-navegacion-listado div:first-of-type {float: left;}
.seccion-submenu-navegacion-listado div:last-of-type {float: right;}
 /* fin transicion */

.seccion-submenu-navegacion-listado .negocios_submenu a{background: url(../img/negocios.svg) center no-repeat; text-indent: -9999999px; display: inline-block; width: 72px; position: relative; top: 2px; }
.seccion-submenu-navegacion-listado .cincodias_submenu a{background: transparent url(../img/cinco-dias.svg) no-repeat center; text-indent: -9999px; display: inline-block;  background-size: contain; width: 86px;}
.seccion-submenu-navegacion-listado .retina_submenu a{background: url(../img/retina.svg) no-repeat center; background-size: contain; width: 57px;  text-indent: -9999999px; display: inline-block;}