.salida_portadilla .principal:not(.principal--fijo) .cabecera {background-color: transparent; max-width: 100vw}
.salida_portadilla .principal--fijo .cabecera {background-color: #003245 !important}

.salida_portada .principal:not(.principal--fijo) .cabecera .cabecera__interior, .salida_portadilla .principal:not(.principal--fijo) .cabecera .cabecera__interior {margin-left: 0; margin-right: 0}

#elpais-menu {display: none}

.salida_portadilla .cabecera-superior  {display: none}
.salida_portadilla .cabecera-superior .cabecera-superior__interior {max-width: 60.625rem; margin: 0 auto}
.salida_portadilla .principal--fijo .cabecera-superior .cabecera-superior__interior {display: none}
.salida_portadilla .cabecera__envoltorio {max-width:inherit; background-color: #003245}

.salida_portadilla .principal:not(.principal--fijo) .cabecera__interior {padding-top: 0; border-bottom: 0}
.salida_portadilla .cabecera-inferior {position: relative}
.principal--fijo .cabecera__interior {max-width: 100vw}
.salida_portadilla .cabecera__interior .elpais-logo a span {background: url(../img/cabecera_interior_blanco_1.svg) no-repeat left center; background-size: auto 1.875rem}
.salida_portadilla .cabecera__interior .boton_elpais-menu span {background-color: #fff}
/*.salida_portadilla .cabecera__interior .seccion .seccion-migas {display: none}*/

.salida_portadilla .seccion-patrocinador a {z-index: 1; width: 11.875rem; height: 2.625rem; position: absolute; right: 3rem; top: 0.6875rem; background-image: url(../img/telefonica-empresas-vertical_1.svg); background-size: 5.0625rem; background-position: center right; background-repeat: no-repeat; display: inline-block}
.salida_portadilla .principal--fijo .seccion-patrocinador a {width: 10rem; background-size: 3.875rem; height: 3rem}
.salida_portadilla .seccion-patrocinador a:before {content: "UN PROYECTO DE"; display: block; font-size: 0.75rem; font-weight: 300; text-indent: initial!important; color: #fff; text-align: left; margin-top: 0.5rem; position: absolute; margin-right: 5.125rem}
.salida_portadilla  .principal--fijo .seccion-patrocinador a:before {margin-top: 0.6875rem; margin-right: 4.375rem; font-size: 0.625rem}

.salida_portadilla .cabecera__interior .seccion .seccion-migas a {z-index: 3; text-indent:-9999rem; width: 11.875rem; height: 2.625rem; position: absolute; right: 3rem; top: 0.6875rem; background-image: url(../img/telefonica-empresas-vertical_1.svg); background-size: 5.0625rem; background-position: center right; background-repeat: no-repeat; display: inline-block; font-family: 'Benton Sans', Sans-Serif}
.salida_portadilla .principal--fijo .seccion .seccion-migas  a {width: 10rem; background-size: 3.875rem; height: 3rem; top: 0}
.salida_portadilla .seccion .seccion-migas a:before {content: "UN PROYECTO DE"; display: block; font-size: 0.75rem; font-weight: 300; text-indent: initial!important; color: #fff; text-align: left; margin-top: 0.375rem; position: absolute; margin-right: 5.125rem}
.salida_portadilla .principal--fijo .seccion .seccion-migas a:before {margin-top: 0.6875rem; margin-right: 4.375rem; font-size: 0.625rem}

.salida_portadilla .cabecera__interior .seccion .seccion-migas a {display: none}

/* Portadilla */
.bloque-cabecera .cabecera-titulo {border-top: 0; margin-top: 3.75rem; margin-bottom: 3.0625rem; width: 100%; display: block}
.bloque-cabecera .cabecera-titulo a, .bloque-cabecera .cabecera-titulo .sin_enlace {color: #00FF99; background-color: #003245; font-size: 1rem; letter-spacing: 0.3125rem; font-weight: 500; line-height: 2.125rem; padding: 0.125rem 0.625rem 0}
.articulo-metadatos {line-height: 2.25rem}

.bloque_tematico .bloque-cabecera {width: 100%; float: none; border: 0 none; min-height: 2.250rem; margin-bottom: 1.875rem}
.bloque__interior:before {background-color: transparent}
.articulo__interior {border: 0 none; padding-top: 0}

.bloque_tematico .articulos ~ .articulos:before {background-color: transparent}
.bloque_tematico .articulos {width: 100%}

.bloque_tematico .articulos_cierre .articulo:only-of-type .foto {max-width: none; float: none; margin-right: 0; margin-left: 0; width: 100%}
.bloque_tematico .bloque-cabecera:before {background-color: transparent}

.bloque_tematico .articulos_cuerpo .articulo:only-of-type .foto_w640 {width: 100%}

.principal {margin-bottom: 5rem}

.articulo-datos {vertical-align: baseline}
.articulo .firma a, .articulo-datos {color: #ababab}

/* -- Portadilla Version con Bloque Publi -- */
@media (min-width: 47.938rem) {
	.articulos__interior {display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; -webkit-align-content: stretch; -ms-flex-line-pack: stretch; align-content: stretch; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start}
	.salida_portadilla .bloque--publi .articulos:first-of-type, .salida_portadilla .bloque--publi .lo_mas_visto {float: left; width: 100%;}
	.salida_portadilla .bloque--publi .articulos_cierre:first-of-type .articulos__interior{}
	.salida_portadilla .bloque--publi .articulos:first-of-type .articulo, .articulos_cuerpo .articulo, .articulos_cierre .articulo{-webkit-order: 0; -ms-flex-order: 0; order: 0; -webkit-flex: 1 1 14.4%; -ms-flex: 1 1 14.4%; flex: 1 1 14.4%; -webkit-align-self: stretch; -ms-flex-item-align: stretch; align-self: stretch; max-width: 50%}
	.articulos_cierre .articulo {max-width: 33.33333%}
	.salida_portadilla .bloque_tematico .articulos_cuerpo .articulo__interior > .foto_w360, .salida_portadilla .bloque_tematico .articulos_cuerpo .articulo__interior > .foto_w541 {width: 100%; max-width: none; float: none; margin-right: 0; margin-left: 0; width: 100%}
	.salida_portadilla .bloque_tematico .articulo .foto_w360 + .articulo-titulo{font-size: 1.35em; line-height: 120%; font-weight: 400; margin-bottom: .688rem;}
	.salida_portadilla .bloque--publi .articulos_cierre:first-of-type .articulo{}
	.salida_portadilla .bloque--publi .articulos_cierre:first-of-type .articulo:first-of-type .articulo__interior{}
	/*.salida_portadilla .envoltorio_publi {display: none}*/
	.articulo{-webkit-order: 0; -ms-flex-order: 0; order: 0; -webkit-flex: 1 1 14.4%; -ms-flex: 1 1 14.4%; flex: 1 1 14.4%; -webkit-align-self: stretch; -ms-flex-item-align: stretch; align-self: stretch; max-width: 50%}
	#salida_articulo .articulo {max-width: 100%}
}

/* Responsive */
@media (min-width: 62.438em) { 
	.salida_portadilla .principal--fijo .agrupador-patrocinador {display: block}
	.salida_portadilla .principal--fijo .seccion-patrocinador a {top: 0}
	.salida_portadilla .principal--fijo .cabecera__interior .elpais-logo a span {background-size: auto 1.625rem; background-position: left 0.563rem}
}

@media (max-width: 37.4375rem) {
	.articulos .articulo__interior > .foto_w360, .bloque_tematico .articulos_cierre .articulo__interior > .foto_video, .bloque_tematico .articulos_cierre .articulo__interior > .foto_w360 {margin-left: 0!important; margin-right: 0!important; width: 100%!important}
	.bloque_tematico .articulos_cuerpo .articulo__interior > .foto_w360 {margin-bottom: 0.625rem}
	.bloque_tematico .articulo .foto_w360 + .articulo-titulo {font-size: 1.35em; line-height: 120%; font-weight: 400; margin-bottom: .688rem}
}

@media (max-width: 62.438em) { 
	.salida_portadilla .seccion-patrocinador a {top: 0.1875rem; background-size: 4.3125rem; width: 11rem}	
	.salida_portadilla .seccion-patrocinador a:before {margin-top: 0.5625rem; font-size: 0.6875rem}
	.salida_portadilla .cabecera__interior .seccion .seccion-migas a span {display: none}
}

@media (min-width: 37.5rem) {
	.bloque_b .articulo--primero .foto + .articulo-titulo {font-size: 2.2em; line-height: 106%; font-size: 1.625em; line-height: 130%; font-weight: normal; font-size: 1.375em; line-height: 130%; margin-bottom: 0.688rem; font-weight: 400}
	.articulo-titulo a, .articulo h2 a {font-weight: normal}
}

@media (min-width: 41.6875rem) {
	.articulos_cierre .foto ~ .articulo-entradilla {display: block}
}

@media (max-width: 47.938rem) { 
	.salida_portadilla .cabecera-superior {display: none}
	.salida_portadilla .principal:not(.principal--fijo) .cabecera__interior {padding-top: 0}	
	
	.salida_portadilla .seccion-migas {display: none}

	.salida_portadilla .seccion-patrocinador {background-color: #003245; text-align: center}
	.salida_portadilla .principal--fijo .cabecera-seccion {display: block; background-color: transparent; border: 0}
	.salida_portadilla .seccion-patrocinador a {top: 0.125rem; right: 4%; height: 2rem; position: relative; text-align: center; margin: 0 auto; display: inline-block; right: auto; left: auto; float: none; background-image: url(../img/telefonica-empresas-horizontal-white.svg); width: 100%; max-width: 13.4375rem; background-size: 8rem}
	.salida_portadilla .principal--fijo .seccion-patrocinador a {width: 100%; max-width: 13.4375rem; background-size: 8rem; height: 2rem}
	.salida_portadilla .seccion-patrocinador a:before {font-size: 0.625rem; margin-top: 0.0625rem}
	.salida_portadilla .principal--fijo .seccion-patrocinador a:before {margin-top: 0.0625rem}

	.salida_portadilla .cabecera__interior .seccion .seccion-migas {background-color: #003245; text-align: center}
	.salida_portadilla .principal--fijo .cabecera-seccion {display: block; background-color: transparent; border: 0}
	.salida_portadilla .cabecera__interior .seccion .seccion-migas a {top: 0.125rem; right: 4%; height: 2rem; position: relative; text-align: center; margin: 0 auto; display: inline-block; right: auto; left: auto; float: none; background-image: url(../img/telefonica-empresas-horizontal-white.svg); width: 15.625rem; max-width: 13.4375rem; background-size: 8rem}
	/*.salida_portadilla .principal--fijo  .seccion .seccion-migas a {width: 100%; max-width: 13.4375rem; background-size: 8rem; height: 2rem}*/
	.salida_portadilla .principal--fijo .seccion .seccion-migas a:before {font-size: 0.625rem; margin-top: 0.0625rem}
	.salida_portadilla .seccion .seccion-migas a:before {margin-top: 0; margin-right: 4.375rem; font-size: 0.625rem}

	/* Portadilla */
	.bloque-cabecera .cabecera-titulo a, .bloque-cabecera .cabecera-titulo .sin_enlace {font-size: 0.875rem; line-height: 1.75rem}
	.articulo-titulo a, .articulo h2 a {font-size: 1.35em; line-height: 120%; font-weight: 400; margin-bottom: .688rem; font-size: 1.06em; line-height: 135%}

}

@media (min-width: 37.4375rem) and (max-width: 42.5rem) {}
@media (max-width: 37.4375rem) {}

/* cambios nueva cabecera suscripcion/login */
.principal--fijo .cabecera-seccion {background: none !important}