.img-filtro {
    filter: grayscale(100%);
transition: filter 0.3s ease;
}
.img-filtro:hover {
    filter: grayscale(0%);
}
img {
    width: 300px;
    height: 200px;
}
.container {
  position: relative;
  width: 300px;
    display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: lightsalmon;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.container:hover .overlay {
  width: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
header {
    background-color: lightsalmon;
}
section {
    background-color: beige;
}